.html {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

.body {
    position: relative;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.header {
    padding: 0px;
    margin: 0px;
    position: relative;
    text-align: center;
}

.padawan {
    font-size: 1.5em;
    position: absolute;
    text-align: center;
    margin-left: 40%;
    margin-top: 15%;
}

/* navbar */
#navbar {
    min-height: 50px;
    height: 50px; 
    margin-top: -10px;
    z-index:1;
    overflow: hidden;
    background-color: #333;
    }

.highlighted {
    color: gray;
}
    
    /* Navbar links */
    #navbar a {
    min-height: 10%;
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    }
    
    .content {
    padding: 16px;
    text-align: center;
    }
    
    .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }
    
    .sticky + .content {
    padding-top: 50px;
    }

/* about section */
    .aboutParent {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 10%;
    }

    .aboutFirstChild {
        font-size: 2em;
        padding: 1em;
        display: block;
        width: 80%;
        text-align: center;
        margin-left: 5%;
    }

    .aboutSecondChild {
        font-size: 1.5em;
        display: block;
        text-align: left;
        margin-right: 10%;
    }



/* pictures of Columbus/myself */
.picParent {
    display: flex;
    max-width: 100%;
    resize: block;
    margin: 0%;
}
.picChilds {
    display: block;
}
.picChild img {
    display: block;
    max-width: 100%;
}


#portHeader {
    text-align: center;
    font-size: 2em;
}



/* portfolio pic links */
.portParent {
    justify-content: center;
    text-align: center;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 px;
}

.column {
    flex: 33%;
    max-width: 30%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 10px;
}
/*img scaling */
@media screen and (max-width: 800px) {
    .column {
    flex: 50%;
    max-width: 50%;
      }
}

@media screen and (max-width: 600px) {
    .column {
    flex: 100%;
    max-width: 100%;
      }
}

.page-header {
    text-align: center;
}

.contactMain {
    display: block;
    text-align: center;
}

input[type=text] {
    max-width: 100%;
    width: 50em;
}

textarea {
    max-width: 100%;
    width: 50em;
}

.bottomLinks {
    display: block;
    text-align: center;
}


/*imported timeline styling*/
.page-header h1 {
    font-size: 2.26em;
    text-align: center;

  }

/** timeline box structure **/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
  
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eee;
    left: 50%;
    margin-left: -1.5px;
  }
  
  .tldate {
    display: block;
    width: 200px;
    background: #414141;
    border: 3px solid #212121;
    color: #ededed;
    margin: 0 auto;
    padding: 3px 0;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
  }
  
  .timeline li {
    margin-bottom: 25px;
    position: relative;
  }
  
  .timeline li:before, .timeline li:after {
    content: " ";
    display: table;
  }
  .timeline li:after {
    clear: both;
  }
  .timeline li:before, .timeline li:after {
    content: " ";
    display: table;
  }
  
  /** timeline panels **/
  .timeline li .timeline-panel {
    width: 46%;
    float: left;
    background: #fff;
    border: 1px solid #d4d4d4;
    padding: 20px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  }
  
  /** panel arrows **/
  .timeline li .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  
  .timeline li .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  .timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
    top:0;
    right:0;
    display: none;
    border: 0;
  }
  
  .timeline li.timeline-inverted .timeline-panel {
    float: right;
  }
  
  .timeline li.timeline-inverted .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  
  .timeline li.timeline-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  
  
  /** timeline circle icons **/
  .timeline li .tl-circ {
    position: absolute;
    top: 23px;
    left: 50%;
    text-align: center;
    background: #a3a2a2;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-left: -16px;
    border: 3px solid #767677;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 99999;
  }
  
  
  /** timeline content **/
  
  .tl-heading h4 {
    margin: 0;
    color: #c25b4e;
  }
  
  .tl-body p, .tl-body ul {
    margin-bottom: 0;
  }
  
  .tl-body > p + p {
    margin-top: 5px;
  }
  
  /** media queries **/
  @media (max-width: 991px) {
    .timeline li .timeline-panel {
      width: 44%;
    }
  }
  
  @media (max-width: 700px) {
    .page-header h1 { font-size: 1.8em; }
    
    ul.timeline:before {
      left: 40px;
    }
    
    .tldate { width: 140px; }
  
    ul.timeline li .timeline-panel {
      width: calc(100% - 90px);
      width: -moz-calc(100% - 90px);
      width: -webkit-calc(100% - 90px);
    }
  
    ul.timeline li .tl-circ {
      top: 22px;
      left: 22px;
      margin-left: 0;
  
    }
    ul.timeline > li > .tldate {
      margin: 0;
    }
  
    ul.timeline > li > .timeline-panel {
      float: right;
    }
  
    ul.timeline > li > .timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }
  
    ul.timeline > li > .timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
    }
  }